html {
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  color: rgb(228, 215, 215);
  background-color: rgb(26, 22, 22);
}

.lastResult {
  color: white;
  padding: 3px;
}
